@font-face {
  font-family: "Roboto-bold";
  src: url("./fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto-italic";
  src: url("./fonts/Roboto/Roboto-Italic.ttf") format("truetype");
}

html,
body {
  height: 100vh;
}

body {
  background: url("./images/pexels-ithalu-dominguez-907485.jpg") no-repeat
    center center fixed;
  background-size: cover;
}

#map {
  height: 512px;
  width: 512px;
  border: 2px solid #07312c;
  border-radius: 10px;
}

#content {
  display: grid;
  height: 100%;
  grid-template-rows: 1fr 8fr 1fr;
}

.main,
.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main {
  height: 100%;
  // grid-template-rows: 8fr 1fr;
  align-items: center;
  justify-items: center;
  font-family: "Roboto-italic", sans-serif;
}

.header {
  background-color: #f6879f;
  font-family: "Roboto-bold", sans-serif;
  border-bottom: 2px solid #07312c;
}

form {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-column: 1/2;

  input {
    width: 50%;
    font-size: 24px;
    border-radius: 3rem;
    border: none;
    outline: none;
  }

  button {
    border: none;
    background-color: #17a292;
    color: white;
    font-size: 24px;
    padding: 0.5rem 2rem 0.5rem 2rem;
    border-radius: 3rem;
  }

  button:hover {
    background-color: #0c554e;
  }

  button:active {
    background-color: #17a292;
  }
}

.city {
  display: grid;
  align-items: center;
  justify-items: center;
  font-size: 40px;
  font-weight: bold;
}

h1 {
  grid-column: 2/3;
}

.weather-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  justify-items: start;
  gap: 1rem;
  background-color: rgb(250, 248, 242, 0.1);
  // height: auto;
  width: 60%;
  padding: 2rem;
  border: 2px solid #07312c;
  border-radius: 10px;

  > div {
    display: grid;
    grid-template-columns: 1fr 14fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    justify-items: start;
    font-size: 24px;
    column-gap: 2rem;
    row-gap: 1rem;
    height: auto;

    :first-child {
      grid-row: 1/2;
      grid-column: 1/3;
      white-space: nowrap;
      text-decoration: underline;
      // justify-self: center;
    }

    :nth-child(2),
    :last-child {
      grid-row: 2/3;
    }
  }

  img {
    height: 100%;
  }
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

label {
  display: block;
  width: 5rem;
  height: 2rem;
  background-color: #17a292;
  border-radius: 2.5rem;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  justify-self: center;
}
label:after {
  content: "C";
  text-align: center;
  line-height: 1.6rem;
  font-weight: bold;
  width: 1.6rem;
  height: 1.6rem;
  background-color: #e8f5f7;
  position: absolute;
  border-radius: 50%;
  top: 0.2rem;
  left: 0.2rem;
  bottom: 0.2rem;
  transition: 0.5s;
}

input:checked + label:after {
  left: calc(100% - 0.2rem);
  transform: translateX(-100%);
  content: "F";
}

.github {
  display: grid;
  // grid-column: 7/8;
  grid-row: 1/3;
  justify-items: center;
  align-items: center;
}

.forecast {
  display: grid;
  // grid-template-columns: repeat(7, 1fr);
  grid-row: 3/4;
  border-top: 2px solid #07312c;
  background-color: rgb(250, 248, 242, 0.1);
}
